<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UTEC Ventures</title>
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <meta name="author" content="@MadeByGus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <script src="//use.typekit.net/fct8sgn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet"> <!-- App styles -->
    <link href="assets/css/ebm.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper"> <!-- Body -->
      <header class="menu-section-mobile hidden-md hidden-lg bg-gray-dark minh-63 relative">
        <div class="logo-menu-mobile">
          <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
        </div>
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" class="hidden ">
            <li><a class="light font-s-20 pt-70"href="{{base_url}}">UTEC Ventures</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/portafolio">Portafolio</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/perks">Beneficios</a></li>
            <hr width="50px">
            <li><a class="borde-postula-cta light font-s-20"href="{{base_url}}/apply">POSTULA</a></li>
          </ul>
        </nav>
      </header>
      <header class="tool-bar hidden-xs hidden-sm">
        <div class="container-fluid ph-35">
          <div class="row">
            <div class="tool-bar-left col-sm-5">
              <nav class="tool-bar-nav-left">
                <a href="#">Estudiantes</a>
                <a href="#">Profesores</a>
                <a href="#">Empresas Postulantes</a>
                <a href="#">Charlas Informativas</a>
              </nav>
            </div>
            <div class="tool-bar-right col-sm-8">
              <form class="tool-bar-search-form">
                <div class="input-group">
                  <input type="text" id="search_bar" class="form-control input-sm" placeholder="Buscar...">
                  <span class="input-group-btn">
                    <button disabled="disabled" id="search_button" class="btn btn-gray btn-sm" type="button">Buscar</button>
                  </span>
                </div>
              </form>
              <nav class="tool-bar-nav-right">
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="#">Contacto</a>
                <a href="?lang=en" class="btn btn-sm btn-gray">English</a>
                <a href="?lang=es" class="btn btn-sm btn-gray">Español</a>
                <a href="#" class="btn btn-sm btn-gray">Intranet</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="header-scroll header hidden-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">UTEC Ventures</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
                <a href="{{base_url}}/apply">Postula</a>
              </nav>
            </div>
            <div class="header-right col-sm-2"></div>
          </div>
        </div>
      </header>
      <header class="header hidden-xs hidden-sm" >
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="#"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">UTEC Ventures</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
                <a href="{{base_url}}/apply">Postula</a>
              </nav>
            </div>
            <div class="header-right col-sm-2"></div>
          </div>
        </div>
      </header>
      <div class="overlay-site-complete"></div>
      <section class="hero-unit flex-column-end img-responsive" style="background-image: url(assets/img/asesoria.jpg)">
        <div class="container-md text-center pv-70 mb-70 up-overlay">
          <h2 class="light text-white ">Asesoría</h2>
          <span class="thin text-white font-s-20 lh-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit <br>Quae quo, quas dolor. Quis rem labore, animi minus nesciunt!</span>
        </div>
        <div class="scroll-down up-overlay"><div><a id="arrow" class="arrow" href="#site-asesoria"><img src="assets/icons/PNG/arrow-down.png" alt=""></a></div></div>
      </section>
      <section class="bg-white" id="site-asesoria">
        <article>
          <div class="container-sm text-left thin text-gray pv-70">
            <p class="font-s-20 thin text-gray ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta accusantium, reprehenderit quod blanditiis quibusdam, aut aperiam, nostrum illo dolorem odit earum sint, excepturi esse! Laboriosam inventore facere autem quia nihil.</p>
            <p class="font-s-20 thin text-gray ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta accusantium, reprehenderit quod blanditiis quibusdam, aut aperiam, nostrum illo dolorem odit earum sint, excepturi esse! Laboriosam inventore facere autem quia nihil.</p>
            <div class="image-content-espacio-fisico pv-70">
              <img src="assets/img/asesoria-img.jpg" alt="">
            </div>
            <p class="font-s-20 thin text-gray ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta accusantium, reprehenderit quod blanditiis quibusdam, aut aperiam, nostrum illo dolorem odit earum sint, excepturi esse! Laboriosam inventore facere autem quia nihil.</p>
            <hr>
            <blockquote class="pv-35">
              <span>Vim nihil consequat ut, debitis suscipit insolens ei eum. Constituto quaerendum no cum. Consectetuer reprehendunt vim in. Clita ridens voluptaria id vis. Et est fastidii qualisque, usu no veniam omittantur, soluta nostro definitionem nec in.</span>
            </blockquote>
            <hr>
            <p class="font-s-20 pthin text-gray ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta accusantium, reprehenderit quod blanditiis quibusdam, aut aperiam, nostrum illo dolorem odit earum sint, excepturi esse! Laboriosam inventore facere autem quia nihil.</p>
          </div>
        </article>
      </section>
      <section class="site-blog bg-gray-lighter text-center">
        <div class="container">
          <h2 class="text-gray-dark pt-70 light">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</h2>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h4 class="text-gray thin text-center lh-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, commodi, iusto. Aliquid at accusamus nobis inventore illo facere eos, accusantium nihil possimus.</h4>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <div class="container-md">
          <div class="row">
            <div class="col-md-4 mt-21 pr-0 flex-row-center bg-img-block " style="background-image: url(assets/img/mac1.jpg)"> 
            </div>
            <div class="col-md-8 text-blog-espacio-fisico mt-21 pt-35 pl-0">
              <div class="text-left pl-70 pr-70">
                <h4 class="text-primary thin"><a href="">Titulo del Articulo</a></h4>
                <p class="text-gray thin font-s-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laborum, voluptates culpa omnis pariatur nemo quidem totam itaque quisquam nihil, vero modi ea, sed sint odit officiis blanditiis fugiat nesciun.</p><br>  
                <a class="thin font-s-14" href="portafolio-perfilstartup-equipo_site.html">lee más <span>&#187;</span></a>
              </div>
            </div>
            <div class="col-md-4 mt-21 pr-0 flex-row-center bg-img-block " style="background-image: url(assets/img/mac1.jpg)"> 
            </div>
            <div class="col-md-8 text-blog-espacio-fisico mt-21 pt-35 pl-0">
              <div class="text-left pl-70 pr-70">
                <h4 class="text-primary thin"><a href="">Titulo del Articulo</a></h4>
                <p class="text-gray thin font-s-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laborum, voluptates culpa omnis pariatur nemo quidem totam itaque quisquam nihil, vero modi ea, sed sint odit officiis blanditiis fugiat nesciun.</p><br>  
                <a class="thin font-s-14" href="portafolio-perfilstartup-equipo_site.html">lee más <span>&#187;</span></a>
              </div>
            </div>
          </div>
          <div class="row pb-42">
            <div class="col-sm-12 mt-35 flex-row-center ">
              <div>
                <a href="" class="btn btn-lg btn-primary light text-white uppercase font-s-13">Lee Todos <span>&#187;</span></a>
              </div>
            </div>
          </div> 
        </div>
      </section>
      <div class="overlay"></div>
      <section class="hero-end" style="background-image: url(assets/img/hero-end.jpg)">
        <div class="container-md text-center pv-70 up-overlay">
          <h2 class="light text-white thin">Postula a UTEC Ventures</h2>
          <p class=" text-white mb-14 thin font-s-20 lh-12">{% if request.session.lang == "en" %}Fill up this form to be part of our community{% else %}Completa este formulario para ser parte de esta comunidad{% endif %}.</p><br><br> 
          <a href="{{base_url}}/apply" class="btn btn-lg btn-primary light uppercase">Comienza aquí</a>
        </div>        
      </section>
    </div>
    <div class="footer"> <!-- FOOTER -->
      <div class="site-map pt-35 bg-gray-dark hidden-xs">
          <div class="container">
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                <li class="title thin "><a href="#">SOMOS UTEC</a></li>
                <li><a href="#"><small></small><small>Respaldo</small></a></li>
                <li><a href="#"><small></small><small>Autoridades</small></a></li>
                <li><a href="#"><small></small><small>Ingenio en Acción</small></a></li>
                <li><a href="#"><small></small><small>Metodología Educativa</small></a></li>
                <li><a href="#"><small></small><small>Noticias</small></a></li>
                <li><a href="#"><small></small><small>Eventos UTEC</small></a></li>
                <li><a href="#"><small></small><small>Vida Estudiantil</small></a></li>
                <li><a href="#"><small></small><small>Campus y Laboratorios</small></a></li>
                <li><a href="#"><small>Trabaja en</small><small>Utec</small></a></li>
                <li><a href="#"><small></small>UTEC Garage<small></small></a></li>
                <li><a href="{{base_url}}"><small></small><small>UTEC Ventures</small></a></li>
                <li><a href="sitemap_site.html"><small></small><small>Sitemap</small></a></li>
              </ul>              
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">INVESTIGACIÓN</a></li>
                    <li><a href="#"><small>Proyectos</small></a></li>
                    <li><a href="#"><small>Empresas &amp; </small><small>Clientes</small></a></li>
                    <li><a href="#"><small>Contacto</small><small>Laboratorios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CARRERAS</a></li>
                    <li><a href="#"><small></small><small>Ingeniería Química Industrial</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Electrónica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Mecánica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería de la Energía </small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Industrial</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">ADMISIÓN</a></li>
                    <li><a href="#"><small></small><small>Modalidades de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Charlas Informativas</small></a></li>
                    <li><a href="#"><small></small><small>Calendario de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Información Económica</small></a></li>
                    <li><a href="#"><small></small><small>Orientación Vocacional</small></a></li>
                    <li><a href="#"><small></small><small>Preguntas Frecuentes</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CONVENIOS</a></li>
                    <li><a href="#"><small></small><small>Convenios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">EDUCACIÓN EJECUTIVA</a></li>
                    <li><a href="#"><small></small><small>Educación Ejecutiva </small></a></li>
                    <li><a href="#"><small></small><small>Cursos Cortos</small></a></li>
                    <li><a href="#"><small></small><small>Calendario</small></a></li>
                    <li><a href="#"><small></small><small>Cursos Inhouse</small></a></li>
                    <li><a href="#"><small></small><small>Diplomados</small></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  <!-- END:Footer -->
    <script src="assets/js/jquery.min.js"></script> <!-- App scripts -->
    <script src="assets/js/scripts.min.js"></script>
    <script>
       $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
       });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
  </body>
</html>