<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UTEC Ventures</title>
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <meta name="author" content="@MadeByGus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <script src="//use.typekit.net/fct8sgn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet"> <!-- App styles -->
    <link href="assets/css/ebm.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{base_url}}/assets/icons/PNG/top_icon.png">
  </head>
  <body>
    <div class="site-wrapper"> <!-- Body -->
      <header class="menu-section-mobile hidden-md hidden-lg bg-gray-dark minh-63 fixed">
        <div class="logo-menu-mobile">
          <a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a>
        </div>
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" class="hidden ">
            <li><a class="light font-s-20 pt-70"href="{{base_url}}">{% if request.session.lang == "en" %}Home{% else %}Inicio{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/portafolio">Portafolio</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/perks">{% if request.session.lang == "en" %}Perks{% else %}Beneficios{% endif %}</a></li>
            <hr width="50px">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <a class="btn btn-md btn-primary light uppercase font-s-14 mob-btn-postula-cta" href="{{base_url}}/apply">{% if request.session.lang == "en" %}Apply{% else %}Postula{% endif %}</a> 
            </div>
          </ul>
        </nav>
      </header>
      <header class="tool-bar hidden-xs hidden-sm">
        <div class="container-fluid ph-35">
          <div class="row">
            <div class="tool-bar-left col-sm-5"></div>
            <div class="tool-bar-right col-sm-8">
              <form class="tool-bar-search-form">
                <div class="input-group">
                  <input type="text" id="search_bar" class="form-control input-sm" placeholder="Buscar...">
                  <span class="input-group-btn">
                    <button disabled="disabled" id="search_button" class="btn btn-gray btn-sm" type="button">Buscar</button>
                  </span>
                </div>
              </form>
              <nav class="tool-bar-nav-right">
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="#">Contacto</a>
                <a href="?lang=en" class="btn btn-sm btn-gray">English</a>
                <a href="?lang=es" class="btn btn-sm btn-gray">Español</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="header-scroll header hidden-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <header class="header hidden-xs hidden-sm" >
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <div class="overlay-site-complete"></div>
      <section class="hero-unit flex-column-end img-responsive" id="scroll-head" style="background-image: url({{base_url}}/{{page.cover_image.url}})">
        <div class="container-md text-center pv-70 up-overlay">
          <h2 class="light text-white pb-63 title-header-responsive lh-12">{% if request.session.lang == "en" %}{{page.cover_header_EN}}{% else %}{{page.cover_header_ES}}{% endif %}</h2>
          <a href="{{base_url}}/apply" class="btn btn-lg button-participar btn-primary light uppercase ">{% if request.session.lang == "en" %}Apply{% else %}Participar{% endif %}</a>
        </div>
        <div class="scroll-down up-overlay"><div><a id="arrow" class="arrow" href="#site-content"><img src="assets/icons/PNG/arrow-down.png" alt=""></a></div></div>
      </section>
              <!--
      <section class="content-responsive site-content flex-row-center pb-28 pt-28 text-center" id="site-content">
        <div class="container-lg pt-21">
          <h2 class="text-primary normalize-text light">{% if request.session.lang == "en" %}Why{% else %}Por qu&eacute;{% endif %} UTEC Ventures</h2>
          <p class="subtitle-res text-gray thin text-center font-s-20">
          {% if request.session.lang == "en" %}
            We have the most powerful network of mentors, the broader network in a stimulating location, and the best support.
          {% else %}
              Tenemos la red de mentores más potente, el network más amplio en un ubicación estimulante, y un soporte de primera.
          {% endif %} 
          </p>
          <div class="center pv-7">
            <div class="row">
              <div class="col-sm-2"></div>
             <div class="co-sm-8 video-style pb-14"  style="background-image: url(assets/img/Ventana.png)">
                <div class="content-video">
                  <iframe width="680" height="378" src="https://www.youtube.com/embed/bipTWWHya8A" frameborder="0" allowfullscreen></iframe>
                </div>
              </div> 
              <div class="col-sm-2"></div>
            </div>
          </div>
        </div>
      </section>
      -->
      <section class="pv-49 site-us bg-gray-lighter text-center">
        <div class="container-md">
          <div class="row">
            <h2 class="text-gray-dark light">{% if request.session.lang == "en" %}About us{% else %}Nosotros{% endif %}</h2>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
            <div class="col-lg-8 col-xs-12 col-sm-12">

            </div>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
          </div>
          <div class="row pv-56 about-us-grid">
            <div class="col-sm-4">
              <div class="content-img-portafolio-grid">
                <a href="{{base_url}}/about_us#equipoutec"><img src="assets/img/equipo-utec.jpg" alt=""></a>
              </div>
              <div class="col-sm-12 text-content-portafolio text-center">
                <p class="font-s-18 text-gray-dark thin mt-28">
                  <a href="{{base_url}}/about_us#equipoutec">{% if request.session.lang == "en" %}Our team{% else %}Nuestro equipo{% endif %}
                  </a>
                </p>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="content-img-portafolio-grid">
                <a href="{{base_url}}/about_us#mentores"><img src="assets/img/mentoria.jpg" alt=""></a>
              </div>
              <div class="col-sm-12 text-content-portafolio text-center">
                <p class="font-s-18 text-gray-dark thin mt-28"><a href="{{base_url}}/about_us#mentores">{% if request.session.lang == "en" %}Mentors{% else %}Mentores{% endif %}</a></p>
              </div>
            </div> 
            <div class="col-sm-4">
              <div class="content-img-portafolio-grid">
                <a href="{{base_url}}/about_us#asesoriatecnica"><img src="assets/img/asesoria-tecnica.jpg" alt=""></a>
              </div>
              <div class="col-sm-12 text-content-portafolio text-center">
                <p class="font-s-18 text-gray-dark thin mt-28"><a href="{{base_url}}/about_us#asesoriatecnica">{% if request.session.lang == "en" %}Technical advisement{% else %}Asesoría Tecnica{% endif %}</a></p>
              </div>
            </div> 
            <div class="col-sm-12 mt-35 flex-row-center ">
              <div>
                <a href="{{base_url}}/about_us" class="btn btn-lg btn-primary light uppercase">Explorar Equipo <span>&#187;</span></a>
              </div>
            </div>         
          </div>
        </div>
      </section>
      <section class="site-portafolio flex-row-center text-center pb-21 mb-70">
        <div class="container">
          <h2 class="text-gray-dark pt-70 pb-28 light">Portafolio</h2>
          <div class="row">
            {% for startup in portafolio %}
            <div class="col-sm-3">
              <div class="content-img-portafolio-grid">
                <a href="/portafolio/{{startup.id}}"><img src="{{base_url}}/{{startup.thumbnail_photo.url}}" alt=""></a>
              </div>
              <div class="col-sm-10 text-content-portafolio text-left">
                <h4 class="text-gray-dark thin mt-28"><a href="#">{{startup.name}}</a></h4>
                <span class="thin text-gray">{% if request.session.lang == "en" %}
                  {{startup.tweeter_pitch_EN}}{% else %}{{startup.tweeter_pitch_ES}}{% endif %}</span><br><br>
                <a class="thin" href="{{base_url}}/portafolio/{{startup.id}}">{% if request.session.lang == "en" %}Read more{% else %}Lee m&aacute;s{% endif %} <span>&#187;</span></a>
              </div>
            </div>
            {% endfor %}
          </div> 
          <div class="row pt-7">
            <div class="col-sm-12 mt-35 flex-row-center ">
              <div>
                <a href="{{base_url}}/portafolio" class="btn btn-lg btn-primary light uppercase font-s-13">{% if request.session.lang == "en" %}See all startups{% else %}Ver todos los proyectos{% endif %} <span>&#187;</span></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <section class="site-blog bg-gray-lighter text-center">
        <div class="container-md">
          <div class="row">
            <h2 class="text-gray-dark pt-70 light">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</h2>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
            <div class="col-lg-8 col-xs-12 col-sm-12">
            </div>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
          </div>
          <div class="row">
          {% for blog_entry in blog %}
            <div class="col-md-4 col-xs-12 col-sm-12 mt-21 pr-0 flex-row-center bg-img-block " style="background-image: url({{base_url}}/{{blog_entry.thumbnail_photo.url}})"> 
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12  content-text-blog-border mt-21 pt-49 pl-0 bg-white">
              <div class="text-left pl-42 pr-42">
                <h4 class="text-primary thin"><a href="{{blog_entry.url}}">{% if request.session.lang == "en" %}{{blog_entry.name_EN}}{% else %}{{blog_entry.name_ES}}{% endif %}</a></h4>
                <p class="text-gray thin font-s-14">{% if request.session.lang == "en" %}{{blog_entry.first_paragraph_EN}}{% else %}{{blog_entry.first_paragraph_ES}}{% endif %}...</p><br>  
                <a class="thin font-s-14" href="{{blog_entry.url}}">{% if request.session.lang == "en" %}Read more{% else %}Lee m&aacute;s{% endif %} <span>&#187;</span></a>
              </div>
            </div>
          {% endfor %}
          </div>
          <div class="row pb-42">
            <div class="col-sm-12 mt-35 flex-row-center ">
              <div>
                <a href="{{base_url}}/blog" class="btn btn-lg btn-primary light uppercase btn-lee-todos">{% if request.session.lang == "en" %}See all{% else %}Lee Todos{% endif %} <span>&#187;</span></a>
              </div>
            </div>
          </div> 
        </div>
      </section>
      <section class="section-sponsors mb-70 pb-21">
        <div class="container text-center">
          <h2 class="text-gray-darker pt-70 light">{% if request.session.lang == "en" %}Supported by{% else %}Con el apoyo de{% endif %}</h2>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <div class="container-md mt-70">
          <div class="row">
            {% for sponsor in sponsors %}
            <div class="col-lg-2 col-xs-12 col-sm-12 flex-row-center">
              <div class="logo-sponsors-home">
                <img src="{{base_url}}/{{sponsor.icon_image.url}}" alt="">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>


      <div class="overlay"></div>
      <section class="hero-end" style="background-image: url({{base_url}}/assets/img/hero-end.jpg)">
        <div class="container-md text-center pv-70 up-overlay">
          <h2 class="light text-white thin">{% if request.session.lang == "en" %}Apply to UTEC Ventures{% else %}Postula a UTEC Ventures{% endif %}</h2>
          <p class=" text-white mb-14 thin font-s-20 lh-12">{% if request.session.lang == "en" %}Fill up this form to be part of our community{% else %}Completa este formulario para ser parte de esta comunidad{% endif %}.</p><br><br> 
          <a href="{{base_url}}/apply" class="btn btn-lg btn-primary light uppercase">Comienza aquí</a>
        </div>        
      </section>
    </div><!-- END: Body -->
    <div class="footer"> <!-- FOOTER -->
      <div class="site-map pt-35 bg-gray-dark hidden-xs">
          <div class="container">
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                <li class="title thin "><a href="#">SOMOS UTEC</a></li>
                <li><a href="#"><small></small><small>Respaldo</small></a></li>
                <li><a href="#"><small></small><small>Autoridades</small></a></li>
                <li><a href="#"><small></small><small>Ingenio en Acción</small></a></li>
                <li><a href="#"><small></small><small>Metodología Educativa</small></a></li>
                <li><a href="#"><small></small><small>Noticias</small></a></li>
                <li><a href="#"><small></small><small>Eventos UTEC</small></a></li>
                <li><a href="#"><small></small><small>Vida Estudiantil</small></a></li>
                <li><a href="#"><small></small><small>Campus y Laboratorios</small></a></li>
                <li><a href="#"><small>Trabaja en</small><small>Utec</small></a></li>
                <li><a href="#"><small></small>UTEC Garage<small></small></a></li>
                <li><a href="{{base_url}}"><small></small><small>UTEC Ventures</small></a></li>
                <li><a href="sitemap_site.html"><small></small><small>Sitemap</small></a></li>
              </ul>              
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">INVESTIGACIÓN</a></li>
                    <li><a href="#"><small>Proyectos</small></a></li>
                    <li><a href="#"><small>Empresas &amp; </small><small>Clientes</small></a></li>
                    <li><a href="#"><small>Contacto</small><small>Laboratorios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CARRERAS</a></li>
                    <li><a href="#"><small></small><small>Ingeniería Química Industrial</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Electrónica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Mecánica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería de la Energía </small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Industrial</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">ADMISIÓN</a></li>
                    <li><a href="#"><small></small><small>Modalidades de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Charlas Informativas</small></a></li>
                    <li><a href="#"><small></small><small>Calendario de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Información Económica</small></a></li>
                    <li><a href="#"><small></small><small>Orientación Vocacional</small></a></li>
                    <li><a href="#"><small></small><small>Preguntas Frecuentes</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CONVENIOS</a></li>
                    <li><a href="#"><small></small><small>Convenios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">EDUCACIÓN EJECUTIVA</a></li>
                    <li><a href="#"><small></small><small>Educación Ejecutiva </small></a></li>
                    <li><a href="#"><small></small><small>Cursos Cortos</small></a></li>
                    <li><a href="#"><small></small><small>Calendario</small></a></li>
                    <li><a href="#"><small></small><small>Cursos Inhouse</small></a></li>
                    <li><a href="#"><small></small><small>Diplomados</small></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  <!-- END:Footer -->
    <script src="assets/js/jquery.min.js"></script> <!-- App scripts -->
    <script src="assets/js/scripts.min.js"></script>
    <script>
       $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
       });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
  </body>
</html>
