<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UTEC Ventures</title>
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <meta name="author" content="@MadeByGus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{base_url}}/assets/img/favicon.png">
    <script src="//use.typekit.net/fct8sgn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="{{base_url}}/assets/css/style.css" rel="stylesheet"> <!-- App styles -->
    <link href="{{base_url}}/assets/css/ebm.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{base_url}}/assets/icons/PNG/top_icon.png">
  </head>
  <body>
    <div class="site-wrapper"> <!-- Body -->
      <header class="menu-section-mobile hidden-md hidden-lg bg-gray-dark minh-63 fixed">
        <div class="logo-menu-mobile">
          <a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a>
        </div>
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" class="hidden ">
            <li><a class="light font-s-20 pt-70"href="{{base_url}}">{% if request.session.lang == "en" %}Home{% else %}Inicio{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/portafolio">Portafolio</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/perks">{% if request.session.lang == "en" %}Perks{% else %}Beneficios{% endif %}</a></li>
            <hr width="50px">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <a class="btn btn-md btn-primary light uppercase font-s-14 mob-btn-postula-cta" href="{{base_url}}/apply">{% if request.session.lang == "en" %}Apply{% else %}Postula{% endif %}</a> 
            </div>
          </ul>
        </nav>
      </header>
      <header class="tool-bar hidden-xs hidden-sm">
        <div class="container-fluid ph-35">
          <div class="row">
            <div class="tool-bar-left col-sm-5"></div>
            <div class="tool-bar-right col-sm-8">
              <form class="tool-bar-search-form">
                <div class="input-group">
                  <input type="text" id="search_bar" class="form-control input-sm" placeholder="Buscar...">
                  <span class="input-group-btn">
                    <button disabled="disabled" id="search_button" class="btn btn-gray btn-sm" type="button">Buscar</button>
                  </span>
                </div>
              </form>
              <nav class="tool-bar-nav-right">
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="#">Contacto</a>
                <a href="?lang=en" class="btn btn-sm btn-gray">English</a>
                <a href="?lang=es" class="btn btn-sm btn-gray">Español</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="header-scroll header hidden-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <header class="header hidden-xs hidden-sm" >
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <div class="overlay-site-complete"></div>
      <section class="hero-unit flex-column-end img-responsive" style="background-image: url({{base_url}}/{{page.cover_image.url}})">
        <div class="container-md text-center pv-70 mb-70 up-overlay" >
          <h2 class="light text-white ">{% if request.session.lang == "en" %}About us{% else %}Nosotros{% endif %}</h2>
          <span class="thin text-white font-s-20 lh-12">{% if request.session.lang == "en" %}{{page.cover_header_EN}}{% else %}{{page.cover_header_ES}}{% endif %}</span>
        </div>
        <div class="scroll-down up-overlay"><div><a id="arrow" class="arrow" href="#equipoutec"><img src="{{base_url}}/assets/icons/PNG/arrow-down.png" alt=""></a></div></div>
      </section>
      <section class="pv-49 site-us bg-gray-white text-center" id="equipoutec">
        <div class="container-md">
          <div class="row">
            <h2 class="text-gray-dark light">{% if request.session.lang == "en" %}UTEC's team{% else %}Equipo UTEC{% endif %}</h2>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
          </div>
          <div class="row pv-56">
          {% for team_member in team_members %}
            <div class="col-sm-6">
              <div class="content-img-portafolio-grid">
                <a href="#"><img src="{{base_url}}/{{team_member.photo.url}}" alt=""></a>
              </div>
              <div class="col-sm-12 text-content-portafolio text-center">
                <p class="font-s-14 text-gray-dark thin mt-28"><a href="#">{{team_member.name}}</a></p>
                <small class="thin font-s-14">{{team_member.position}}</small><br><br>
                <a class="mr-14" href="{{team_member.linkedin_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/linkedin_dark.png" alt="">
                </a>
                <a href="{{team_member.twitter_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/twitter_dark.png" alt="">
                </a>

              </div>
            </div> 
          {% endfor %}
          </div> 
        </div>
      </section>
      <section class="pv-49 site-us bg-gray-lighter text-center" id="mentores">
        <div class="container-md">
          <div class="row">
            <h2 class="text-gray-dark light">{% if request.session.lang == "en" %}Mentors{% else %}Mentor&iacute;a{% endif %}</h2>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
          </div>
          <div class="row pv-56">
          {% for mentor in mentors %}
            <div class="col-sm-4">
              <div class="content-img-portafolio-grid">
                <a href="#"><img src="{{base_url}}/{{mentor.photo.url}}" alt=""></a>
              </div>
              <div class="col-sm-12 text-content-portafolio text-center">
                <p class="font-s-14 text-gray-dark thin mt-28"><a href="#">{{mentor.name}}</a></p>
                <small class="thin font-s-14">{{mentor.position}}</small><br><br>
                <a class="mr-14" href="{{mentor.linkedin_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/linkedin_dark.png" alt="">
                </a>
                <a href="{{mentor.twitter_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/twitter_dark.png" alt="">
                </a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>
      <section class="pv-49 site-us bg-gray-white text-center" id="asesoriatecnica">
        <div class="container-md">
          <div class="row">
            <h2 class="text-gray-dark light">{% if request.session.lang == "en" %}Technical advisement{% else %}Asesor&iacute;a T&eacute;cnica{% endif %}</h2>
            <div class="col-lg-2 hidden-sm hidden-xs"></div>
          </div>
          <div class="row pv-56">
          {% for tech_advisor in tech_advisors %}
            <div class="col-sm-3">
              <div class="content-img-portafolio-grid">
                <a href="#"><img src="{{base_url}}/{{tech_advisor.photo.url}}" alt=""></a>
              </div>
              <div class="col-sm-12 text-content-portafolio text-center">
                <p class="font-s-14 text-gray-dark thin mt-28"><a href="#">{{tech_advisor.name}}</a></p>
                <small class="thin font-s-14">{{tech_advisor.position}}</small><br><br>
                <a class="mr-14" href="{{tech_advisor.linkedin_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/linkedin_dark.png" alt="">
                </a>
                <a href="{{tech_advisor.twitter_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/twitter_dark.png" alt="">
                </a>
              </div>
            </div> 
          {% endfor %}
          </div>
        </div>
      </section>
      <div class="overlay"></div>
      <section class="hero-end" style="background-image: url({{base_url}}/assets/img/hero-end.jpg)">
        <div class="container-md text-center pv-70 up-overlay">
          <h2 class="light text-white thin">{% if request.session.lang == "en" %}Apply to UTEC Ventures{% else %}Postula a UTEC Ventures{% endif %}</h2>
          <p class=" text-white mb-14 thin font-s-20 lh-12">{% if request.session.lang == "en" %}Fill up this form to be part of our community{% else %}Completa este formulario para ser parte de esta comunidad{% endif %}.</p><br><br> 
          <a href="{{base_url}}/apply" class="btn btn-lg btn-primary light uppercase">Comienza aquí</a>
        </div>        
      </section>
    </div>
    <div class="footer"> <!-- FOOTER -->
      <div class="site-map pv-28 bg-gray-dark hidden-xs">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <div class="text-center">
                <nav class="header-nav-center pv-7 mt-7 thin text-white nav-list font-s-16">
                  <a class="ml-14 uppercase" href="{{base_url}}">UTEC Ventures</a>
                  <a class="ml-14 uppercase" href="{{base_url}}/portafolio">Portafolio</a>
                  <a class="ml-14 uppercase" href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                  <a class="ml-14 uppercase" href="{{base_url}}/perks">Beneficios</a>
                </nav>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <nav class="text-center ml-ch-14 thin text-white pv-7">
          <span>Jr. Medrano Silva esquina con Av. Miguel Grau, Barranco</span> <span><strong>P.</strong>(511) 230-5000 - (511) 230-5020 </span> <span><strong>W.</strong>www.utec.edu.pe</span> <span><strong>C.</strong><a class="text-gray-dark" href="mailto:informes@utec.edu.pe">informes@utec.edu.pe</a></span>
          <div class="text-center pt-14 pb-7  social-icons-footer">
            <a class="mr-7 mt-" href=""><img src="{{base_url}}/assets/icons/PNG/linkedin_dark.png" alt=""></a>
            <a class="ml-7 mt-" href=""><img src="{{base_url}}/assets/icons/PNG/twitter2.png" alt=""></a>
          </div>       
        </nav>
      </div>
    </div>  <!-- END:Footer -->
    <script src="{{base_url}}/assets/js/jquery.min.js"></script> <!-- App scripts -->
    <script src="{{base_url}}/assets/js/scripts.min.js"></script>
    <script>
       $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
       });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
  </body>
</html>