<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UTEC Ventures</title>
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <meta name="author" content="@MadeByGus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{base_url}}/assets/img/favicon.png">
    <script src="//use.typekit.net/fct8sgn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="{{base_url}}/assets/css/style.css" rel="stylesheet"> <!-- App styles -->
    <link href="{{base_url}}/assets/css/ebm.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{base_url}}/assets/icons/PNG/top_icon.png">
  </head>
  <body>
    <div class="site-wrapper"> <!-- Body -->
      <header class="menu-section-mobile hidden-md hidden-lg bg-gray-dark minh-63 fixed">
        <div class="logo-menu-mobile">
          <a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a>
        </div>
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" class="hidden ">
            <li><a class="light font-s-20 pt-70"href="{{base_url}}">{% if request.session.lang == "en" %}Home{% else %}Inicio{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/portafolio">Portafolio</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/perks">{% if request.session.lang == "en" %}Perks{% else %}Beneficios{% endif %}</a></li>
            <hr width="50px">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <a class="btn btn-md btn-primary light uppercase font-s-14 mob-btn-postula-cta" href="{{base_url}}/apply">{% if request.session.lang == "en" %}Apply{% else %}Postula{% endif %}</a> 
            </div>
          </ul>
        </nav>
      </header>
      <header class="tool-bar hidden-xs hidden-sm">
        <div class="container-fluid ph-35">
          <div class="row">
            <div class="tool-bar-left col-sm-5"></div>
            <div class="tool-bar-right col-sm-8">
              <form class="tool-bar-search-form">
                <div class="input-group">
                  <input type="text" id="search_bar" class="form-control input-sm" placeholder="Buscar...">
                  <span class="input-group-btn">
                    <button disabled="disabled" id="search_button" class="btn btn-gray btn-sm" type="button">Buscar</button>
                  </span>
                </div>
              </form>
              <nav class="tool-bar-nav-right">
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="#">Contacto</a>
                <a href="?lang=en" class="btn btn-sm btn-gray">English</a>
                <a href="?lang=es" class="btn btn-sm btn-gray">Español</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="header-scroll header hidden-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <header class="header hidden-xs hidden-sm" >
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <div class="overlay-site-complete"></div>
      <section class="hero-unit flex-column-end img-responsive" style="background-image: url({{base_url}}/{{startup.cover_image.url}})">
        <div class="container-md text-center pv-70 mb-70 text-white up-overlay">
          <h2 class="light">{{startup.name}}</h2>
          <span class="thin font-s-20 mb-14 lh-12">{% if request.session.lang == "en" %}{{startup.tweeter_pitch_EN}}{% else %}{{startup.tweeter_pitch_ES}}{% endif %}</span><br><br>
          <span class="thin font-s-20 mb-14 lh-12">
            <a href="{{startup.url}}" target="_blank">{{startup.url}}</a>
            </span><br><br>
          <small class="thin font-s-13 italic">{{startup.batch}}</small>
        </div>
        <div class="scroll-down up-overlay"><div><a id="arrow" class="arrow" href="#site-perfilstartup"><img src="{{base_url}}/assets/icons/PNG/arrow-down.png" alt=""></a></div></div>
      </section>
      <section class="bg-white" id="site-perfilstartup">
        <article>
          <div class="container-sm text-left thin text-gray pv-70">
            <p class="font-s-20 thin text-gray ">{% if request.session.lang == "en" %}{{startup.paragraph_1_EN}}{% else %}{{startup.paragraph_1_ES}}{% endif %}</p>
            <div class="image-content-espacio-fisico pv-70">
              <img src="{{base_url}}/{{startup.in_text_image.url}}" alt="">
            </div>
            <blockquote class="pv-35">
              <span class="font-s-20">{% if request.session.lang == "en" %}{{startup.quote_paragraph_EN}}{% else %}{{startup.quote_paragraph_ES}}{% endif %}</span>
            </blockquote>
            <hr>
            <p class="font-s-20 thin text-gray ">{% if request.session.lang == "en" %}{{startup.paragraph_2_EN}}{% else %}{{startup.paragraph_2_ES}}{% endif %}</p>
          </div>
        </article>
      </section>
      <section class="site-actores bg-gray text-center">
        <div class="container pv-35">
          <h2 class="text-gray-lighter pv-35 pb-14 thin">{% if request.session.lang == "en" %}Founders{% else %}Fundadores{% endif %}</h2>
          <div class="row pv-70 text-white">
          {% for founder in startup.founders.all %}
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 ">
              <div class="user-picture">  
                <img  class="user-picture pb-21" src="{{base_url}}/{{founder.photo.url}}" alt="">
                <span class="thin text-white font-s-18 col-sm-12 col-xs-12"><a href="portafolio-perfilstartup-persona_site.html">{{founder.name}}</a></span><br>
                <small class="thin font-s-14">{{founder.position}}</small><br><br>
                <a class="mr-14" href="{{founder.linkedin_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/linkedin.png" alt="">
                </a>
                <a href="{{founder.twitter_url}}" target="_blank">
                  <img width="20" height="20" src="{{base_url}}/assets/icons/PNG/twitter2.png" alt="">
                </a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>
      {% if startup.awards|length > 0 %}
      <section class="section-reconocimientos mb-70 pb-21">
        <div class="container text-center">
          <h2 class="text-gray pt-70 pb-14 thin">{% if request.session.lang == "en" %}Awards{% else %}Reconocimientos{% endif %}</h2>
        </div>
        <div class="container-md mt-70">
          <div class="row">
          {% for award in startup.awards.all %}
            <div class="col-sm-2 flex-row-center">
              <div class="logo-sponsors-home">
                <img src="{{base_url}}/{{award.icon_image.url}}" alt="{{award.name}}">
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>
      {% endif %}
      <div class="overlay"></div>
      <section class="hero-end" style="background-image: url({{base_url}}/assets/img/hero-end.jpg)">
        <div class="container-md text-center pv-70 up-overlay">
          <h2 class="light text-white thin">{% if request.session.lang == "en" %}Apply to UTEC Ventures{% else %}Postula a UTEC Ventures{% endif %}</h2>
          <p class=" text-white mb-14 thin font-s-20 lh-12">{% if request.session.lang == "en" %}Fill up this form to be part of our community{% else %}Completa este formulario para ser parte de esta comunidad{% endif %}.</p><br><br> 
          <a href="{{base_url}}/apply" class="btn btn-lg btn-primary light uppercase">Comienza aquí</a>
        </div>        
      </section>    
    </div>
    <div class="footer"> <!-- FOOTER -->
      <div class="site-map pt-35 bg-gray-dark hidden-xs">
          <div class="container">
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                <li class="title thin "><a href="#">SOMOS UTEC</a></li>
                <li><a href="#"><small></small><small>Respaldo</small></a></li>
                <li><a href="#"><small></small><small>Autoridades</small></a></li>
                <li><a href="#"><small></small><small>Ingenio en Acción</small></a></li>
                <li><a href="#"><small></small><small>Metodología Educativa</small></a></li>
                <li><a href="#"><small></small><small>Noticias</small></a></li>
                <li><a href="#"><small></small><small>Eventos UTEC</small></a></li>
                <li><a href="#"><small></small><small>Vida Estudiantil</small></a></li>
                <li><a href="#"><small></small><small>Campus y Laboratorios</small></a></li>
                <li><a href="#"><small>Trabaja en</small><small>Utec</small></a></li>
                <li><a href="#"><small></small>UTEC Garage<small></small></a></li>
                <li><a href="{{base_url}}"><small></small><small>UTEC Ventures</small></a></li>
                <li><a href="sitemap_site.html"><small></small><small>Sitemap</small></a></li>
              </ul>              
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">INVESTIGACIÓN</a></li>
                    <li><a href="#"><small>Proyectos</small></a></li>
                    <li><a href="#"><small>Empresas &amp; </small><small>Clientes</small></a></li>
                    <li><a href="#"><small>Contacto</small><small>Laboratorios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CARRERAS</a></li>
                    <li><a href="#"><small></small><small>Ingeniería Química Industrial</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Electrónica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Mecánica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería de la Energía </small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Industrial</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">ADMISIÓN</a></li>
                    <li><a href="#"><small></small><small>Modalidades de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Charlas Informativas</small></a></li>
                    <li><a href="#"><small></small><small>Calendario de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Información Económica</small></a></li>
                    <li><a href="#"><small></small><small>Orientación Vocacional</small></a></li>
                    <li><a href="#"><small></small><small>Preguntas Frecuentes</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CONVENIOS</a></li>
                    <li><a href="#"><small></small><small>Convenios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">EDUCACIÓN EJECUTIVA</a></li>
                    <li><a href="#"><small></small><small>Educación Ejecutiva </small></a></li>
                    <li><a href="#"><small></small><small>Cursos Cortos</small></a></li>
                    <li><a href="#"><small></small><small>Calendario</small></a></li>
                    <li><a href="#"><small></small><small>Cursos Inhouse</small></a></li>
                    <li><a href="#"><small></small><small>Diplomados</small></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  <!-- END:Footer -->
    <script src="{{base_url}}/assets/js/jquery.min.js"></script> <!-- App scripts -->
    <script src="{{base_url}}/assets/js/scripts.min.js"></script>
    <script>
       $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
       });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
  </body>
</html>
