<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UTEC Ventures</title>
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <meta name="author" content="@MadeByGus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{base_url}}/assets/img/favicon.png">
    <script src="//use.typekit.net/fct8sgn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="{{base_url}}/assets/css/style.css" rel="stylesheet"> <!-- App styles -->
    <link href="{{base_url}}/assets/css/ebm.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{base_url}}/assets/icons/PNG/top_icon.png">
  </head>
  <body>
    <div class="site-wrapper"> <!-- Body -->
      <header class="menu-section-mobile hidden-md hidden-lg bg-gray-dark minh-63 fixed">
        <div class="logo-menu-mobile">
          <a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a>
        </div>
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul role="navigation" class="hidden ">
            <li><a class="light font-s-20 pt-70"href="{{base_url}}">{% if request.session.lang == "en" %}Home{% else %}Inicio{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/portafolio">Portafolio</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a></li>
            <hr width="50px">
            <li><a class="light font-s-20 pv-7"href="{{base_url}}/perks">{% if request.session.lang == "en" %}Perks{% else %}Beneficios{% endif %}</a></li>
            <hr width="50px">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <a class="btn btn-md btn-primary light uppercase font-s-14 mob-btn-postula-cta" href="{{base_url}}/apply">{% if request.session.lang == "en" %}Apply{% else %}Postula{% endif %}</a> 
            </div>
          </ul>
        </nav>
      </header>
      <header class="tool-bar hidden-xs hidden-sm">
        <div class="container-fluid ph-35">
          <div class="row">
            <div class="tool-bar-left col-sm-5"></div>
            <div class="tool-bar-right col-sm-8">
              <form class="tool-bar-search-form">
                <div class="input-group">
                  <input type="text" id="search_bar" class="form-control input-sm" placeholder="Buscar...">
                  <span class="input-group-btn">
                    <button disabled="disabled" id="search_button" class="btn btn-gray btn-sm" type="button">Buscar</button>
                  </span>
                </div>
              </form>
              <nav class="tool-bar-nav-right">
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="#">Contacto</a>
                <a href="?lang=en" class="btn btn-sm btn-gray">English</a>
                <a href="?lang=es" class="btn btn-sm btn-gray">Español</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="header-scroll header hidden-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <header class="header hidden-xs hidden-sm" >
        <div class="container">
          <div class="row">
            <div class="header-left col-sm-3 text-center">
              <div class="logo"><a href="{{base_url}}"><img src="{{base_url}}/assets/img/logo_UTECVentures.png" alt="Logo Utec ventures"></a></div>
            </div>
            <div class="header-center col-sm-7">
              <nav class="header-nav-center pt-7 thin text-gray nav-list">
                <a href="{{base_url}}">Inicio</a>
                <a href="{{base_url}}/portafolio">Portafolio</a>
                <a href="{{base_url}}/blog">{% if request.session.lang == "en" %}News{% else %}Noticias{% endif %}</a>
                <a href="{{base_url}}/perks">Beneficios</a>
              </nav>
            </div>
            <div class="header-right col-sm-2">
              <a class="btn btn-md btn-primary light uppercase font-s-14" href="{{base_url}}/apply">Postula</a> 
            </div>
          </div>
        </div>
      </header>
      <div class="overlay-site-complete"></div>
      <section class="hero-unit flex-column-end img-responsive" style="background-image: url({{base_url}}/{{page.cover_image.url}})">
        <div class="container-sm text-center pv-70 mb-70s up-overlay">
          <h2 class="light text-white ">{% if request.session.lang == "en" %}Apply to UTEC Ventures{% else %}Postula a UTEC Ventures{% endif %}</h2>
           <p class="text-white light text-center font-s-20 lh-12"> {% if request.session.lang == "en" %}{{page.cover_header_EN}}{% else %}{{page.cover_header_ES}}{% endif %}</p>
        </div>
        <div class="scroll-down up-overlay"><div><a id="arrow" class="arrow" href="#site-postulacion"><img src="{{base_url}}/assets/icons/PNG/arrow-down.png" alt=""></a></div></div>
      </section>
      <section class="site-content flex-row-center text-center" id="site-postulacion">
        <div class="container-sm">
          <h2 class="text-gray-darker pt-70 light">{% if request.session.lang == "en" %}Apply to UTEC Ventures{% else %}Postula a UTEC Ventures{% endif %}</h2>
          <p class="text-gray text-center font-s-20 light">{% if request.session.lang == "en" %}Fill up this form to be part of our community{% else %}Completa este formulario para ser parte de esta comunidad{% endif %}.</p>
          <div class="container-sm pv-35 thin">
            <form id="application-form" role="form" method="post" action=""  accept-charset="UTF-8">
              <div class="row">
                <div id="email-input-cont" class="col-sm-6 mb-21">
                  <input class="pl-7 input-form-postulacion" type="email" id="txtEmail" name="txtEmail" placeholder="EMAIL" required> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <textarea  class="input-message" type="text" placeholder="Describe tu producto o idea (50 palabras o menos)"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <textarea  class="input-message" type="text" placeholder="Describe tu negocio (350 palabras o menos)"></textarea>
                </div>
              </div>              
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <textarea  class="input-message" type="text" placeholder="¿En que etapa de desarrollo se encuentra (Idea, Prototipo, Piloto, Ventas)? Explica tus avances (350 palabras)"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <textarea  class="input-message" type="text" placeholder="¿Cual consideras es tu primer mercado objetivo? ¿Y el segundo?"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <textarea  class="input-message" type="text" placeholder="¿Cuál es el plan de desarrollo de tu tecnología? ¿Cuáles son unos de los principales hitos? (500 palabras)"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <textarea  class="input-message" type="text" placeholder="Para cada fundador describe la experiencia relevante para el proyecto y comparte tu cuenta de LinkedIn"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-21">
                  <input type="subimit" class="btn btn-lg btn-primary light uppercase" value="Enviar" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="footer"> <!-- FOOTER -->
      <div class="site-map pt-35 bg-gray-dark hidden-xs">
          <div class="container">
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                <li class="title thin "><a href="#">SOMOS UTEC</a></li>
                <li><a href="#"><small></small><small>Respaldo</small></a></li>
                <li><a href="#"><small></small><small>Autoridades</small></a></li>
                <li><a href="#"><small></small><small>Ingenio en Acción</small></a></li>
                <li><a href="#"><small></small><small>Metodología Educativa</small></a></li>
                <li><a href="#"><small></small><small>Noticias</small></a></li>
                <li><a href="#"><small></small><small>Eventos UTEC</small></a></li>
                <li><a href="#"><small></small><small>Vida Estudiantil</small></a></li>
                <li><a href="#"><small></small><small>Campus y Laboratorios</small></a></li>
                <li><a href="#"><small>Trabaja en</small><small>Utec</small></a></li>
                <li><a href="#"><small></small>UTEC Garage<small></small></a></li>
                <li><a href="{{base_url}}"><small></small><small>UTEC Ventures</small></a></li>
                <li><a href="sitemap_site.html"><small></small><small>Sitemap</small></a></li>
              </ul>              
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">INVESTIGACIÓN</a></li>
                    <li><a href="#"><small>Proyectos</small></a></li>
                    <li><a href="#"><small>Empresas &amp; </small><small>Clientes</small></a></li>
                    <li><a href="#"><small>Contacto</small><small>Laboratorios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CARRERAS</a></li>
                    <li><a href="#"><small></small><small>Ingeniería Química Industrial</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Electrónica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Mecánica</small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería de la Energía </small></a></li>
                    <li><a href="#"><small></small><small>Ingeniería Industrial</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">ADMISIÓN</a></li>
                    <li><a href="#"><small></small><small>Modalidades de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Charlas Informativas</small></a></li>
                    <li><a href="#"><small></small><small>Calendario de Admisión</small></a></li>
                    <li><a href="#"><small></small><small>Información Económica</small></a></li>
                    <li><a href="#"><small></small><small>Orientación Vocacional</small></a></li>
                    <li><a href="#"><small></small><small>Preguntas Frecuentes</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">CONVENIOS</a></li>
                    <li><a href="#"><small></small><small>Convenios</small></a></li>
              </ul>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled text-gray-lighter">
                    <li class="title thin text-gray-lighter"><a href="#">EDUCACIÓN EJECUTIVA</a></li>
                    <li><a href="#"><small></small><small>Educación Ejecutiva </small></a></li>
                    <li><a href="#"><small></small><small>Cursos Cortos</small></a></li>
                    <li><a href="#"><small></small><small>Calendario</small></a></li>
                    <li><a href="#"><small></small><small>Cursos Inhouse</small></a></li>
                    <li><a href="#"><small></small><small>Diplomados</small></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>  <!-- END:Footer -->
    <script src="{{base_url}}/assets/js/jquery.min.js"></script> <!-- App scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.1/jquery.form-validator.min.js"></script>
    <script src="{{base_url}}/assets/js/scripts.min.js"></script>
    <script>
       $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
       });

      $(document).ready(function()
      {
          // var $error_labels = $('div.form-error-indicator');

          $('form#application-form').submit(function(e)
          {
              e.preventDefault();        
              $.post($(this).attr('action'), $(this).serialize(), function(res){
                  console.log(res);
                  $error_labels.hide();
                  if(res == 'OK')
                  {
                      location.href = '{{base_url}}/thanks/';
                  }
                  else
                  {
                      // var array = JSON.parse(res).errors;
                      
                      // for(var i=0; i<array.length; i++)
                      // {
                      //     val = array[i];
                      //     console.log(val);
                      //     if(val == "who_for")
                      //     {
                      //         $error_labels.filter("#who_for-input-error").show();
                      //     }
                      //     else if(val == "motivation")
                      //     {
                      //         $error_labels.filter("#motivation-input-error").show();
                      //     }                        
                      //     else if(val == "name")
                      //     {
                      //          $error_labels.filter("#name-input-error").show();                       
                      //     }                        
                      //     else if(val == "email")
                      //     {
                      //          $error_labels.filter('#email-input-error').show();                       
                      //     }                        
                      // }

                  }
              });

              return false; // prevent default action
          });
      });


    </script>


    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f279493184b19f" async="async"></script>
  </body>
</html>
